<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reminders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E553EC91E46A35B00392D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E553EE01E46A35C00392D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E553EEB1E46A35C00392D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
